.questionnaire-card {
    margin: 0 auto;
    width: 80%;
    height: 600px;
    padding: 20px;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.questionnaire-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.questionnaire-form .ant-form-item-row {
    text-align: center;
    margin: 20px 0;
}

.questionnaire-form .ant-form-item-label label {
    font-size: 30px;
    font-weight: bold;
}

.custom-label-class {
    font-size: 20px;
    font-weight: bold;
}