.header-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    position: relative;
    left: -13px;
    top: -2px;
    /* background-color: aqua; */
    z-index: 1000;
    border-radius: 0px 20px 20px 0px;
    color: #ffffff;
}